body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.nav_button_color {
  background-color: #f6f5f5;
  color:#f6f5f5;
}

.nav_button_color:hover {
  background-color: #f6f5f5;
  color:#f6f5f5;
}