<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Food Tracker | Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #d3e0ea;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg" style="background-color: #1687a7;color:#f6f5f5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}"
           style="background-color: #1687a7;color:#f6f5f5 !important; ">Food Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn" style="background-color: #f6f5f5;
                          color:#1687a7;"
                       href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#f6f5f5 !important;" aria-current="page"
                       href="{{ url_for('food') }}">Add Food</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

    <div class="row">
        <div>
            <form method="POST" action="{{ url_for('index') }}">
                <div class="form-group">
                    <label for="new-day">New Day</label>
                    <input type="date" name="date" class="form-control" id="new-day">
                </div>

                <button type="submit" class="btn" style="background-color:#276678;color:#f6f5f5;margin-top:10px;">
                    Add
                </button>
            </form>

            <div class="page-header"></div>

            {% for r in results %}

                <div class="panel"
                     style="background-color:#f6f5f5;border: 1px solid #276678;margin:20px;border-radius: 5px;">

                    <div class="panel-heading" style="background-color:#276678;color:#f6f5f5">
                        <h5 class="panel-title" style="padding: 10px;">Foods {{ r.entry_date }}</h5>
                    </div>

                    <div class="panel-body" style="padding:10px;">
                        <ul class="nav nav-pills" role="tablist">
                            <li style="margin:0px 10px;"><a style="color:#276678;"> Protein: <span style="color: #f6f5f5;"
                                                                          class="badge bg-secondary">{{ r.protein }}</span>
                            </a></li>
                            <li style="margin:0px 10px;"><a style="color:#276678;"> Carbohydates: <span
                                    class="badge bg-secondary">{{ r.carbs }}</span>
                            </a>
                            </li>
                            <li style="margin:0px 10px;"><a style="color:#276678;"> Fat: <span style="color: #f6f5f5;"
                                                                      class="badge bg-secondary">{{ r.fats }}</span>
                            </a></li>
                            <li style="margin:0px 10px;"><a style="color:#276678;"> Calories: <span style="color: #f6f5f5;"
                                                                           class="badge bg-secondary">{{ r.cals }}</span>
                            </a></li>
                            <li style="margin-top:10px;"> <a style="color:#276678;" href="{{ url_for('view',date=r.entry_date) }}" type="button"
                                   class="btn" style="color:#276678;"><strong>View Detail </strong></a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

</body>

</html>